packages/**/**/coverage/**/**
packages/**/**/es/**/**
packages/**/**/lib/**/**
packages/**/**/release/**/**
packages/**/**/umd/**/**
packages/**/**/dist/**/**
packages/**/**/node_modules/**/**
packages/searchkit-docs/**/**
packages/searchkit-e2e-tests/**/**
