node_modules
npm-debug.log
lib/__test__
$CIRCLE_TEST_REPORTS
_book
coverage
lib
stats.json
dist
test-report.xml
e2e-results.xml
unit-results.xml
**/cypress/videos
**/cypress/screenshots
lerna-debug.log
packages/searchkit/release