
$sk-layout-background: #333 !default;
$sk-layout-panel-background: #222 !default;
$sk-primary-theme-color: #2a4466 !default;
$sk-active-bg-color: #eee !default;
$sk-border-color: #444 !default;
$sk-title-color: #ddd !default;
$sk-text-color: #bbb !default;
$sk-text-secondary-color: #aaa !default;
$sk-list-text-color: #ccc !default;
$sk-list-secondary-text-color: #aaa !default;
$sk-action-text-color: #ccc !default;
$sk-action-active-color: #fff !default;
$sk-disabled-text-color: #777 !default;
$sk-remove-action-color: #fa2a00 !default;

$sk-selector-background: #333 !default; 
$sk-selector-active-background: #08c !default; 
$sk-selector-border-color: #444 !default; 
$sk-selector-text-color: #ddd !default; 
$sk-selector-active-text-color: white !default; 

$sk-selected-filters-background: #333 !default;

@import "../../../../../theming/theme.scss";


.my-logo {
  color:white;
  flex:0 0 216px;
  padding:13px 20px;
  margin-right:15px;
  line-height: 16px;
}

.sk-layout__filters {
  background: none;
  padding: 20px 15px;
  margin: 0;
}

.sk-layout__results {
  padding: 20px 15px;
  margin: 0;
}