.hierarchical-menu-list {
  // margin-left:-10px;
  margin-bottom:20px;
}

// .hierarchical-menu-list--header {
//   font-size
// }

.hierarchical-menu-list-options {
  margin-left:10px;
}

.hierarchical-menu-list-option {
  padding:2px 0px 2px 5px;
  cursor:pointer;
  position:relative;


  &:before {
    content:"";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
    position:absolute;
    left:-5px;
    top:5px;
  }

  &__text {
    font-size:14px;
  }
}

.hierarchical-menu-list-option--checked {
  font-weight:700;

  &:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    border-bottom:none;
    left:-8px;
    top:8px;
  }
}
