

.hierarchical-menu {

  &-list {

    &__header {
      margin-bottom:5px;
      font-weight:bold;
    }

    &--disabled  {
      display:none;
    }

    &__hierarchical-options {
      margin-left:10px;
    }
  }

  &-option {
    padding:2px 0px 2px 5px;
    cursor:pointer;
    position:relative;
    font-size:14px;

    &--selected {
      font-weight:700;
    }
  }

}
