@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import "~normalize.css/normalize.css";

html {
  font-family:"Open Sans";
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.layout {

  &__search-box {
    position:absolute;
    top:0;
    left:230px;
    right:0;
    padding:10px;
    border-bottom:1px solid darken(#fafafa, 10);
    display:flex;

    .selected-filters {
      border-right:1px solid darken(#fafafa, 10);

    }

    .search-box {
    }
  }

  &__filters {
    position:absolute;
    top:0px;
    left:0;
    bottom:0;
    width:230px;
    padding:20px 20px 0 20px;
    background:#fafafa;
    border-right:1px solid darken(#fafafa,10);
  }

  &__results-info {
    position:absolute;
    top:60px;
    height:60px;
    left:230px;
    right:0;
    line-height:60px;
    padding:0 20px;
  }


  &__results {
    position:absolute;
    left:230px;
    right:0;
    top:110px;
    bottom:0;
    padding:0 20px;

  }
}

.layout__filters__heading {
  margin-bottom:30px;
  margin-top:3px;
}
