.layout {

  &__search-box {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:100px;
    padding:20px;
  }

  &__filters {
    position:absolute;
    top:100px;
    left:0;
    bottom:0;
    width:200px;
  }

  &__results {
    position:absolute;
    left:200px;
    top:100px;
    bottom:0;
  }
}
