.hits {
  display:flex;
  flex-flow: row wrap;
}

.hit {
  margin-bottom:20px;
  flex:1 0 200px;
  padding:10px;
  // border:1px solid red;
  display:flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;

  &__poster {
    width:180px;

    margin-bottom:10px;

  }

  &__title {
    line-height:20px;
    text-align:center;
    font-size:12px;
  }
}
