.hits {
  display:flex;
  flex-flow: row wrap;
  align-items: flex-start;

  &--is-loading {
    opacity:0.7;
  }
}

.hit {
  margin-bottom:20px;
  flex:1 1 250px;
  padding:10px;
  max-width:250px;
  // border:1px solid red;
  display:flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;

  &__poster {
    max-width:180px;
    max-height:280px;
    margin-bottom:10px;

  }

  &__title {
    line-height:20px;
    text-align:center;
    font-size:12px;
  }
}
