.hits {
  display:flex;
  flex-flow: row wrap;
  align-items: flex-start;

  &__item {
    flex:1 1 250px;
    display:flex;
    margin-bottom:20px;
  }
}

.hits-hit {
  padding:10px;
  max-width:250px;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
}
