.no-hits {
  text-align:center;
  margin-top:60px;

  &__info {
    font-size:16px;
  }

  &__steps {
    margin-top:20px;
    font-size:20px;
    cursor:pointer;
    i {
      cursor:pointer;
      font-style: normal;
      color:#08c;
    }
  }
}
