@import "~rc-slider/assets/index.css";

.range-filter {
  margin-bottom:20px;

  &__header {
    margin-bottom: 5px;
    font-weight: bold;
  }

  &.is-disabled {
    display:none;
  }

  &.is-no-histogram &__bar-chart {
    margin-top:15px;
  }

  &-value-labels {
    display:flex;
    justify-content: space-between;
    margin-top:5px;

    &__min {
      align-self: flex-start;
      font-size:12px;
    }
    &__max {
      align-self: flex-end;
      font-size:12px;
    }
  }

}

.bar-chart {
  height:50px;
  flex-flow: row nowrap;
  justify-content: space-around;
  display:flex;
  align-items: flex-end;

  &__bar {
    background:rgba(156,162,153,0.5);
    flex:1;
  }

}
