@import "filter-item.scss";
@import "../vars.scss";

.sk-item-list {

  &.is-disabled  {
    display:none;
  }

  &__options {

  }

  &__items {

  }

  &-option {
    @include filter-option;
        
    &.is-histogram {
      z-index: 1;  
    }
    
    &.is-histogram &__count {
      padding-right: 4px;
      color: #999;
    }
    
    &__bar {
      position: absolute;
      background-color: #f0f0f0;
      top: 1;
      bottom: 1;
      right: 0;
      display: inline-block;
      z-index: -1;
    }
  }
}
