@import "../vars.scss";

.sk-no-hits {
  text-align:center;
  margin-top:60px;

  &__info {
    font-size:$sk-heading-font-size;
  }

  &__steps {
    margin-top:20px;
  }

  // todo - button
  &__step-action {
    border:1px solid #ddd;
    color:#08c;
    border-radius:3px;
    display:inline-block;
    padding:10px 20px;
    cursor:pointer;
  }
}
