@import "filter-item.scss";
@import "../vars.scss";

.sk-numeric-refinement-list {

  &__header {
    margin-bottom: 5px;
    font-weight: $sk-bold-weight;
    font-size: $sk-heading-font-size;
  }

  &.is-disabled  {
    display:none;
  }

  &__options {

  }

  &__items {

  }

  &-option {
    @include filter-option;
  }

}
