@import "./vars.scss";

.sk-range-input {
  width: 100%;

  &__input {
    margin: 4px;
    display: inline-block;
    width: 90px;
    border-radius: $sk-border-radius;
    border: 1px solid #ddd;

    &.is-error {
      border-color: red;
    }
  }

  &__submit {
    float: right;
  }
}
