@import "./vars.scss";

.sk-range-input {
  width: 100%;

  &__input {
    margin: 4px;
    display: inline-block;
    width: 60px;
    border-radius: $sk-border-radius;
    border: 1px solid $sk-border-color;

    &.is-error {
      border-color: $sk-remove-action-color;
    }
  }

  &__submit {
    float: right;
  }
}
