.sk-reset-filters {
  margin-bottom:20px;
  border:1px solid #08c;
  text-align:center;
  border-radius:3px;
  padding:10px 20px;
  cursor:pointer;
  color:#08c;

  &.is-disabled {
    cursor:default;
    border-color:#ddd;
    color:#ddd;
  }

  &__text {
    font-size:12px;
  }

  &:not(&.is-disabled)&:hover {
    border-color:#000;
    color:darken(#ddd,50);
  }
}
