@import "../vars.scss";

.sk-sorting-selector {
  position:relative;
  cursor:pointer;

  &.is-disabled {
    display:none
  }

  select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background:none;
    padding:6px 10px;
    border:1px solid $sk-border-color;
    outline:0;
    font-weight:$sk-bold-weight;
    font-size:$sk-text-font-size;
    border-radius:$sk-border-radius;
    color:#000;
  }

  &:after {
    content:"";
    position:absolute;
    top:50%;
    margin-top:-3px;
    right:10px;
    width:0;
    height:0;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-top:6px solid #666;
  }

}
