@import "../vars.scss";
@import "../mixins/user-select.scss";

.sk-tag-cloud {
  text-align: justify;
  word-wrap: break-word;
  line-height: 16px;
  font-size: 10px;

  &.is-disabled {
    display:none;
  }

  &-option {
    display: inline;
    cursor:pointer;
    font-weight: $sk-medium-weight;
    color: $sk-action-text-color;
    padding:4px 2px;
    border-right:none;
    text-decoration: none;
    //@include user-select(none);
    
    &__text, &__count {
      display: inline;
    }

    &:before {
      content: ' ';
      display: inline;
    }

    &:after {
      content: ' ';
      display: inline;
    }

    &__count {
      &:before {
        content: ' (';
      }
      &:after {
        content: ')';
      }
    }

    &.is-active {
      color:$sk-list-text-color;
    }

    // &:hover {
    //   color:$sk-list-text-color;
    // }

    &.is-disabled {
      cursor: initial;
      color: #ddd;
    }
  }
}
