.pagination-navigation {
  display:flex;
  justify-content: space-between;
  margin:0 auto;
  max-width:300px;

  &__next {
    align-self: flex-end;
  }
  &__previous {
    align-self: flex-start;
  }

}

.pagination-nav-item {
  border:1px solid #08c;
  border-radius:20px;
  flex:1 1 200px;
  max-width:140px;
  padding:10px 20px;
  text-align:center;
  cursor:pointer;
  &__text {
    font-size:14px;
    color:#08c;
  }

  &--disabled {
    border-color: #ddd;
  }

  &--disabled &__text {
    color:#ddd;
  }
}
