.refinement-list {
  margin-bottom:20px;
  position:relative;

  &.collapsible {
    cursor:pointer;
  }

  &.collapsible &__header:after {
    content:"";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    position:absolute;
    right:0px;
    top:50%;
    margin-top:-5px;
  }

  &.is-collapsed &__options, &__view-more-action {
    display:none;
  }

  &__header {
    margin-bottom:5px;
    font-weight:bold;
  }

  &.is-disabled  {
    display:none;
  }

  &__view-more-action {
    font-size:12px;
    color:#08c;
    cursor:pointer;
  }

}

.refinement-list-option {
  display:flex;
  position:relative;
  cursor:pointer;
  padding:2px 0;
  line-height:18px;

  &.is-selected &__text {
    font-weight:700;
  }

  &__text {
    margin-left:20px;
    flex:3;
    font-size:14px;
  }
  &__count {
    flex:1;
    font-size:12px;
    text-align:right;
    color:lighten(#999,20);
  }
  &__checkbox {
    position:absolute;
    top:5px;
    width:12px;
    height:12px;
    border:1px solid #000;
    border-radius: 3px;

    &.is-selected {
      background:black;
    }
  }
}
