.selected-filters {
  display:flex;
  flex-flow: row nowrap;
  &__item {
    flex:auto;
    margin-right:10px;
  }
}

.selected-filter {
  // background:darken(#fafafa,5);
  border:1px solid lighten(#08c,0);
  display:flex;
  padding:10px 0 10px 10px;
  font-size:14px;
  line-height:20px;
  border-radius:3px;


  &__name {
    flex:auto;
    color:#08c;
  }

  &__remove-action {
    flex:auto;
    padding:0 10px;
    cursor:pointer;
    font-size:16px;
    line-height:18px;
    color:#08c;
    font-weight:700;
  }

}
