.query-input {
  width:400px;

  form {
    display:flex;
  }

  &__icon {

  }

  &__text {
    border:1px solid #000;
    padding:10px 20px;
    width:100%;
    flex:3;
  }

  &__action {
    height:40px;

    &:active {
      background:#000;
    }
  }

}
